<?xml version="1.0" encoding="UTF-8"?>
 <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jdbc.dao.RoleDao">
	<!-- 返回值映射map -->
	<resultMap id="roleMapper" type="com.jdbc.model.RoleModel">
			<result property="id" column="id" />
			<result property="roleName" column="role_name" />
			<result property="remark" column="remark" />
	</resultMap>
	
	<!-- 查询数量公共sql -->
	<sql id="count_Tail">
		select count(1) from role record
	</sql>
	
	<!-- 分页公共sql -->
	<sql id="pagination_tail">
	  limit #{page.pageOffset} , #{page.pageSize}
	</sql>

	<!-- 查询字段公共sql -->
	<sql id="selectAllColumns">
	    SELECT 
	    <if test="queryFields != null ">
	 	     <trim prefix="" suffix="" suffixOverrides=",">
		        <foreach collection="queryFields" item="fi" index="index">
		          ${fi},
		        </foreach>
		      </trim> 	
	  	</if>
	    <if test="queryFields == null ">
	  		<![CDATA[
				 id, 
				 role_name, 
				 remark 
			]]>
	  	</if>
	     FROM role record
	</sql>
	
	<sql id="where_fragement">
		<where> 
			<if test="entity!=null">
					<if test = "entity.id != null and entity.id != ''">
						<![CDATA[ and record.id  = #{entity.id} ]]>
					</if>
					<if test = "entity.roleName != null and entity.roleName != ''">
						<![CDATA[ and record.role_name  = #{entity.roleName} ]]>
					</if>
					<if test = "entity.remark != null and entity.remark != ''">
						<![CDATA[ and record.remark  = #{entity.remark} ]]>
					</if>
			</if>
		</where>
	</sql>
	
	<sql id="time_sort">
		order by id asc
	</sql>

	<!-- 分页查询数据集合-->
	<select id="queryPageRole" resultMap="roleMapper" >
		<include refid="selectAllColumns"/>
		<include refid="where_fragement" />
		<include refid="time_sort" />
		<if test="page!=null">
			<include refid="pagination_tail" />
		</if>
		
	</select>
	
	<!-- 不分页查询数据集合-->
	<select id="queryListRole" resultMap="roleMapper" >
		<include refid="selectAllColumns"/>
		<include refid="where_fragement" />
		<include refid="time_sort" />
	</select>
	
	<!-- 查询总数量 -->
	<select id="queryCountRole" resultType="long">
		<include refid="count_Tail"></include>
		<include refid="where_fragement"></include>
	</select>

	<!-- 查询单个实体 -->
	<select id="queryRoleById" resultMap="roleMapper" >
		<include refid="selectAllColumns"/>
		 where 
		 record.id = #{id}
	</select>
	
	<!-- 新增列处理 -->
	<sql id="sql_add_columns">
		<trim suffixOverrides=",">
			<if test="id != null">id,</if>
			<if test="roleName != null">role_name,</if>
			<if test="remark != null">remark,</if>
		</trim>
	</sql>

	<sql id="sql_add_properties">
		<trim suffixOverrides=",">
				<if test="id != null">#{id},</if>
				<if test="roleName != null">#{roleName},</if>
				<if test="remark != null">#{remark},</if>
		</trim>		
	</sql>
	
	<!-- 新增 -->
	<insert id="addRole" parameterType="com.jdbc.model.RoleModel">
		insert into role(
			<include refid="sql_add_columns"/>
		)values(
			<include refid="sql_add_properties"/>
		)
	</insert>

	<!-- 编辑 -->
	<update id="updateRole" parameterType="com.jdbc.model.RoleModel">
		update role record 
			<set>
					<if test = "roleName != null ">
						record.role_name = #{roleName},
					</if>
					<if test = "remark != null ">
						record.remark = #{remark}
					</if>
			</set>
		where id = #{id}
	</update>
	
	<!-- 删除 -->
	<delete id="removeRoleByIds" parameterType="java.util.List">
		delete from role 
			where id in
			<foreach collection="list" open="(" separator="," close=")" item="code">
				#{code}
			</foreach>
	</delete>

	<delete id="removeRoleById">
		delete from role 
		<if test=" id != null and id != ''">
			where id = #{id}
		</if>
	</delete>
	
</mapper>
